.single_show {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0;
}
.summary {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.show_name {
  margin-bottom: 20px;
}
.casts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.cast-img {
  width: 100%;
}
.cast-card {
  background: red;
  width: 9rem;
  height: 12rem;
  overflow: hidden;
  position: relative;
}
.cast-name {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-weight: 300;
  background: #00000042;
}
